// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.field {
  border: solid black;
  border-radius: 25x;
  padding: 15px;
  justify-content: center;
}


tr {
  border: solid black;
  margin: 5px;
  padding: 10px;
}

table {
  border: solid blue;
  padding: 10px;
}